---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-avoid-c-arrays,
  -modernize-raw-string-literal,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -performance-enum-size,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(app|include|src|tests)/.*'
FormatStyle: file
CheckOptions:
  - key: modernize-use-trailing-return-type.UseAuto
    value: 'false'
